body[data-template="page.store-locator"] #Section-section_binCXY {
  max-width: 1000px !important;
  margin-left: auto;
  margin-right: auto;
}

body[data-template="page.store-locator"] #shopify-section-template--20992839254267__advanced_content_wyVPh9 .page-width {
  max-width: 1000px !important;
  margin-left: auto;
  margin-right: auto;
}

body[data-template="page.store-locator"] #shopify-section-template--20992839254267__rich_text_GnwL4M .page-width--narrow {
  margin-top: 75px;
  max-width: 1000px !important;
  margin-left: auto;
  margin-right: auto;
}